
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); */
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    max-width: 800px; 
    margin: 0 auto; 
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    margin-top: 40px; 
    margin-bottom: 40px; 
}

.header {
    /* grid-column: 1 / -1; */
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px 0;
}
/* .sobre, .experiencia, .educacao, .habilidades {
    grid-column: span 12; 
} */
h1, h2 {
    color: #333;
}

p, li {
    color: #666;
}
