* { 
    margin: 0;
    padding: 0;
  }
  main section {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px auto;
  }
  .produto{
    /* display: inline-block; */
    /* margin: 10px auto auto 5px; */
    width: 300px;
    margin: 10px;
    background-color: #c71c1c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .produto img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
  }

  /* .produto1 {
    position: absolute;
    margin: 10px auto auto 5px;
    width: 300px;
    background-color: #c71c1c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .produto1 img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
  }
  .produto2 {
    margin: 10px auto auto 320px;
    position:absolute;
    width: 300px;
    background-color: #0b064a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .produto2 img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
  }
  .produto3 {
    margin: 10px auto auto 630px;
    position:absolute;
    width: 300px;
    background-color: #0dd116;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .produto3 img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
  } */
  
  .descricao {
    padding: 20px;
  }

  img {
    
  }