main{
    display:flex ;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}
section {
    max-width: 25%;
    margin-bottom: 20px; /* Espaçamento entre as sections */
    background-color: azure;
    padding: 1rem;
}

div {
    display: flex; /* Ativa o flexbox para os divs */
    align-items: center; /* Alinha verticalmente os elementos dentro do div */
    margin-bottom: 10px; /* Espaçamento entre os divs */
}

label {
    width: 200px;
    /* flex-basis: 200px; Define uma largura base para as labels */
    margin-right: 10px; /* Espaçamento entre a label e o input */
}

input[type="number"] {
    flex-grow: 1; /* Permite que os inputs cresçam e ocupem o espaço disponível */
}

button {
    margin-top: 10px; /* Espaçamento acima do botão */
}
